<div class="palestrante-component" (mouseenter)="boxEnter()" (mouseleave)="boxLeave()">

    <div class="front">
        <img [src]="trust(palestrante.imagem)" alt="{{palestrante.nome}}">
        <div class="nome">
            <span>{{palestrante.nome}}</span>
            <span>{{palestrante.sobrenome}}</span>
        </div>
    </div>

    <div class="bio" [ngClass]="{'bio-active': showBio}">
        <p>{{palestrante.bio}}</p>

        <div class="redes">
            <a [href]="palestrante.redes.github" target="_blank"><i class="icon ion-social-github"></i></a>
            <a [href]="palestrante.redes.facebook" target="_blank"><i class="icon ion-social-facebook"></i></a>
            <a [href]="palestrante.redes.twitter" target="_blank"><i class="icon ion-social-twitter"></i></a>
        </div>
    </div>

</div>
